* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* LOGIN */
.login {
    border: solid black 1px;
    border-radius: 40px;
    padding: 0px 10px;
}

.remember {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.login-register {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.login-register a {
    font-weight: bold;
    color: black;
}

.p-terms {
    font-size: 13px;
}
/* /LOGIN */

@media (max-width: 580px) {
    .login {
        border: none;
        padding: 0px;
    }
}
