* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* LOGIN */
.login {
    border: solid black 1px;
    border-radius: 40px;
    padding: 0px 10px;
}

.remember {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.login-register {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.login-register a {
    font-weight: bold;
    color: black;
}

.p-terms {
    font-size: 13px;
}
/* /LOGIN */

/* PROFILE */
.user_info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

.card_user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 50px;
}

.card_user_info p {
    margin: 0px;
}

.card_user_info i {
    color: #1da1f2;
    margin: 0px;
}

.card_user_info i:hover {
    cursor: pointer;
}

.p_category {
    font-size: 18px;
}
/* /PROFILE */

@media (max-width: 580px) {
    .login {
        border: none;
        padding: 0px;
    }
}
